---
name: On Merge

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Tests
        uses: ./.github/actions/tests

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Lint
        uses: ./.github/actions/lint

  release-image:
    runs-on: ubuntu-latest
    needs: [release]
    permissions:
      # might only need read for contents
      contents: write
      id-token: write
      attestations: write
      packages: write  
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Build
        uses: ./.github/actions/docker-image
        with:
            token: "${{ secrets.GITHUB_TOKEN }}"
            latest: false

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [tests, lint]
    permissions:
      contents: write
      issues: write
      pull-requests: write
      artifact-metadata: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Generate Token
        uses: actions/create-github-app-token@v2.1.4
        id: generate-token
        with:
          app-id: "${{ secrets.APP_ID }}"
          private-key: "${{ secrets.APP_PRIVATE_KEY }}"

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v5
        with:
          branches: |
            [ 'main' ]
          # You can specify specifying version range for the extra plugins if you prefer.
          extra_plugins: |
            conventional-changelog-conventionalcommits
            @goreleaser/goreleaser
            @semantic-release/exec
        env:
          GITHUB_TOKEN: "${{ steps.generate-token.outputs.token }}"
