---
  name: Run Renovate

  on:
    workflow_call:
      inputs:
        dryRun:
          description: "Dry-Run"
          default: "false"
          required: false
          type: string
        renovateLogLevel:
          description: "Log-Level"
          default: "debug"
          required: false
          type: string
        configurationFile:
          description: "Renovate configuration file"
          default: ".github/renovate.json5"
          required: false
          type: string
        app_name:
          type: string
          description: "App name of the application used to generate a token"
          required: false
          default: "updootyboi"
      secrets:
        app_id:
          description: "App ID of the application used to generate a token"
          required: true
        app_private_key:
          description: "Private key of the application used to generate a token"
          required: true

  jobs:
    renovate:
      name: Renovate
      runs-on: ubuntu-latest
      steps:
        - name: "Generate Short Lived OAuth App Token (ghs_*)"
          uses: actions/create-github-app-token@v2
          id: app-token
          with:
            app-id: "${{ secrets.app_id }}"
            private-key: "${{ secrets.app_private_key }}"

        - name: Checkout
          uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
          with:
            token: "${{ steps.app-token.outputs.token }}"

        - name: Renovate
          uses: renovatebot/github-action@v44.0.3
          env:
            LOG_LEVEL: ${{ inputs.renovateLogLevel }}
            RENOVATE_DRY_RUN: ${{ inputs.dryRun }}
            RENOVATE_AUTODISCOVER: true
            RENOVATE_AUTODISCOVER_FILTER: "${{ github.repository }}"
            RENOVATE_PLATFORM: "github"
            RENOVATE_USERNAME: "${{inputs.app_name}}[bot]"
            RENOVATE_GIT_AUTHOR: "${{inputs.app_name}} <${{ secrets.app_id }}+${{inputs.app_name}}[bot]@users.noreply.github.com>"
            RENOVATE_PLATFORM_COMMIT: "true"
          with:
            configurationFile: ${{ inputs.configurationFile }}
            token: "${{ steps.app-token.outputs.token }}"
