---
name: Versioned Release

on:
  push:
    tags:
      - v*


jobs:
  ent-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Verify ent files
        uses: ent/contrib/ci@master

  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Tests
        uses: ./.github/actions/tests

  lint:
    permissions:
      # Required: allow read access to the content for analysis.
      contents: read
      # Optional: allow read access to pull request. Use with `only-new-issues` option.
      pull-requests: read
      # Optional: Allow write access to checks to allow the action to annotate code in the PR.
      checks: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Lint
        uses: ./.github/actions/lint

  release-image:
    runs-on: ubuntu-latest
    needs:
      - tests
      - lint
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        uses: ./.github/actions/docker-image
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  release-binaries:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Generate Token
        uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: "${{ secrets.APP_ID }}"
          private-key: "${{ secrets.APP_PRIVATE_KEY }}"

      - name: Release
        uses: ./.github/actions/go-release
        with:
          token: "${{ steps.generate-token.outputs.token }}"
